.dashbody {
    background-image: url("https://media.product.which.co.uk/prod/images/ar_2to1_900x450/ab1786928688-investmentfundsexplained.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .dashboard-container {
    padding: 20px;
  }
  
  .dashboard-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  .body_in {
    background-image: url("https://media.product.which.co.uk/prod/images/ar_2to1_900x450/ab1786928688-investmentfundsexplained.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
  .dashboard-item:hover {
    border-color: #007bff;
  }
  .content_in{
    color: #f9f9f9;
    font-size: 30px;
    text-shadow: 3px;
    padding-top: 3cm;
    text-align: center;
}
  .summary-form {
    display: none;
  }
  
  .sidebar {
    background-color: #333;
    color: #fff;
    height: 100vh;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -220px;
    transition: left 0.3s ease-in-out;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .sidebar ul li a:hover {
    color: #007bff;
  }
  
  .content {
    padding: 20px;
    margin-left: 200px;
  }
  
  .menu-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .menu-icon:hover {
    background-color: #555;
  }
  
  .menu-icon span {
    font-size: 24px;
  }